<h1>Cool Events!</h1>

<%= button_to 'Log out', destroy_user_session_path, method: :delete %>

<% @events.each do |event| %>
  <h3><%= event.name.capitalize %>:</h3>
  <p><%= event.location.capitalize %></p>
  <p><%= event.date.to_formatted_s(:long) %></p>
<% end %>